@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fade-in 1s ease-in-out;
}

.fade-in-section {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}

.fade-in-section.is-visible {
  opacity: 1;
  transform: translateY(0);
}

body {
  font-family: 'Press Start 2P', cursive;
}

@keyframes gradient-flow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 200% 50%;
  }
}

.gradient-text {
  background: linear-gradient(45deg, #FF4B2B, #FF416C, #1fd0bd, #00ab84);
  background-size: 200% 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  animation: gradient-flow 5s linear infinite;
}

.gradient-button {
  background: linear-gradient(45deg, #FF4B2B, #FF416C, #1fd0bd, #00ab84);
  background-size: 200% 200%;
  animation: gradient-flow 5s linear infinite;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1.25rem;
  font-weight: bold;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.gradient-button:hover {
  background-position: 100% 50%;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in {
  opacity: 0;
  animation: fadeIn 0.5s forwards;
}

@keyframes zoom-animation {
  0% {
    transform: scale(1) translateY(0);
  }
  100% {
    transform: scale(1.5) translateY(-15%);
  }
 
  32.5% {
    transform: scale(1) translateY(0%);
  }
}

.zoom-animation {
  animation: zoom-animation 1.25s forwards;
}

.text-shadow {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.text-6xl {
  line-height: 1.5; /* Makes the lines a bit more readable */
  letter-spacing: 0.5px; /* Slightly space out the characters */
}

/* styles/globals.css */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@keyframes gradient-flow-delay {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 200% 50%;
  }
}

.delay-0 {
  animation: gradient-flow-delay 5s linear infinite 0s;
}

.delay-1 {
  animation: gradient-flow-delay 5s linear infinite 0.5s;
}

.delay-2 {
  animation: gradient-flow-delay 5s linear infinite 1s;
}

.delay-3 {
  animation: gradient-flow-delay 5s linear infinite 1.5s;
}

.delay-4 {
  animation: gradient-flow-delay 5s linear infinite 2s;
}

.delay-5 {
  animation: gradient-flow-delay 5s linear infinite 2.5s;
}

.delay-6 {
  animation: gradient-flow-delay 5s linear infinite 3s;
}

.delay-7 {
  animation: gradient-flow-delay 5s linear infinite 3.5s;
}

.delay-8 {
  animation: gradient-flow-delay 5s linear infinite 4s;
}